@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;600;700&display=swap");
.support {
    background-color: #f0edee;
    padding: 25px;
}

.support .title {
    margin: 10px 0;
}

.support p {
    margin: 0px;
    font-size: 16px;
}

.support .numberphone {
    color: #1b1b1c;
}

.support a:hover {
    color: #e98c81;
}

.support .col-right {
    justify-content: center;
    display: flex;
    flex-direction: column;
}


/*================= footer ====================== */

footer {
    font-family: "Poppins", sans-serif;
}

.footer-top a,
.footer-top li {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-top {
    background-color: #24262b;
    padding: 70px 0;
    text-align: center;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-address {
    padding-bottom: 10px;
}

.title-footer {
    padding-top: 6px;
}

.footer-col h3 {
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 11px;
}

.footer-col ul li a {
    font-size: 17px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #89b03f;
    padding-left: 8px;
}

.footer-address .icon {
    margin: 0 10px 10px 0;
    font-size: 20px;
}

#tach {
    float: left;
    padding-right: 10px;
}

.footer-address,
#footer-mail,
.tel-phone {
    color: #bbbbbb;
}

.footer-address .icon a:hover {
    color: #ffffff;
}

#footer-mail:hover,
.footer-address a:hover {
    text-decoration: underline;
    color: #89b03f;
}

.footer-col .footer-icon-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .footer-icon-links a:hover {
    color: #24262b;
    background-color: #89b03f;
}

.footer-map {
    width: 110%;
    height: 250px;
}

.footer-bottom {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-bottom .develop {
    font-weight: 600;
    color: #e98c81;
}

.footer-bottom-copy {
    padding: 30px 0;
    background-color: #000;
    text-align: center;
    color: #d8d8d8;
    font-weight: 300;
}

.obrien-button {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
    height: 45px;
    letter-spacing: 0.025em;
    line-height: 45px;
    padding: 0 30px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    width: auto;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    border-radius: 25px;
}

.obrien-button.primary-btn {
    color: white;
    background-color: #e98c81;
    border: none;
}

.obrien-button.primary-btn:hover {
    color: #1b1b1c;
    background-color: #b4b4b4;
}

@media only screen and (max-width: 578px) {
    .footer-col {
        width: 100%;
        margin-left: 20px;
        padding-bottom: 35px;
    }
    .footer-col h3 {
        margin-bottom: 20px;
    }
    .footer-map {
        width: 90%;
        height: 85%;
    }
    .footer-top {
        padding: 50px 0;
    }
}

@media only screen and (max-width: 768px) {
    .footer-col {
        width: 50%;
        margin-bottom: 50px;
        padding-left: 35px;
    }
    .footer-map {
        width: 90%;
        height: 220px;
    }
}

@media only screen and (min-width: 992px) {
    .footer-col {
        width: 25%;
    }
    .footer-map {
        width: 95%;
        height: 110%;
    }
}

@media only screen and (min-width: 1200px) {
    .footer-map {
        width: 100%;
        height: 250px;
    }
}