*{
	margin: 0;
	padding: 0;
}
.product{
	max-width: 1180px;
	margin: auto;
	line-height: 1.12
}
.images img{
	height: 300px;
	width: 100%;
	margin-top: 60px;
}
.images{
	margin-top: 40px;
	margin-bottom: : 10px;
}
.tieude{
	text-align: center;
	margin: 40px 0px;
}
.tieude h3{
	font-size: 30px;
	color: #111;
	padding: 10px 20px;
	border: 1px solid #bebebe;
	display: inline-block;
	color: #555;
	font-weight: 600;
}
.row{
	margin-top: 10px;
}
.row p{
	margin-top: 10px;
	text-align: center;
	font-size: 25px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.button {
    position: absolute;
    text-align: center;
    width: 380px;
	height: 40px;
	margin-bottom: 30px;
	border-radius: 5px;
	border: none;
	background-color: #45a049;
	color: white;
}
button:hover{
	cursor: pointer;
	background: #F2C2B0;
}

